<div id="weather">
  <fieldset>
    <legend>Weather Search</legend>
    <form id="search">
      <input type="text" id="city" placeholder="City"><br>
      <br>
      <input type="submit" value="Search">
    </form>
  </fieldset>
</div>